<form  method="GET" action="{{ action }}">
    <input type='hidden' name='route' value="{{ confirm }}">
    <input type='submit' class='btn btn-primary payment-button' value="Confirm Order">
</form>

<style>
        html[data-j2v="2.6.8"]  .payment-instamojo{display:none;}
</style>